<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Agenda</a>
    <div>
      <ul class="nav justify-content-end">
        <%if(user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/login/logout">Sair</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contato">Cadastrar contato</a>
          </li>
          <%} else {%>
            <li class="nav-item">
              <a class="nav-link" href="/login">Entrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Cadasto</a>
            </li>

            <%}%>
      </ul>
    </div>
  </div>
</nav>
<%- include('./footer.ejs') %>